//primary colors and background
$text-color: #000000;
$bg-color: #ffffff;

//Gray colors and text gray
$grey-light: #f5f5f5;
$grey-medium: #e0e0e0;
$text-grey: #666666;

//Primary button colors
$primaryBtn: #1e88e5;
$primaryBtn-hover: #1565c0;

//Secondary button colors
$secondaryBtn: #43a047;
$secondaryBtn-hover: #2e7d32;

//Danger button colors
$dangerBtn: #e53935;
$dangerBtn-hover: #b71c1c;
